:root {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #93c;
  --first-text-color: #484853;
  --second-text-color: #4c4c57;
  --third-text-color: #808091;
  --fourth-text-color: #ededef;
  --default-text-color: #50505c;
  --border-color: #b3b3b3;
  --selection-color: #a347d1;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #595967;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #484853;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --second-background-color: #f7f7f7;
    --primary-color: #93c;
    --first-text-color: #484853;
    --second-text-color: #4c4c57;
    --third-text-color: #808091;
    --fourth-text-color: #ededef;
    --default-text-color: #50505c;
    --border-color: #b3b3b3;
    --selection-color: #a347d1;
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-hover-color: rgba(0,0,0,0.28);
    --scrollbar-color: #595967;
    --scroll-bar-bg-color: #e6e6e6;
    --link-color: #484853;
    --copyright-info-color: #c03;
    --avatar-background-color: #06c;
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #eee;
    --second-background-color: #d6d6d6;
    --primary-color: #93c;
    --first-text-color: #6f717e;
    --second-text-color: #5c5e6a;
    --third-text-color: #2d2e33;
    --fourth-text-color: #0b0b0d;
    --default-text-color: #383940;
    --border-color: #f1f1f1;
    --selection-color: #a347d1;
    --shadow-color: rgba(128,128,128,0.2);
    --shadow-hover-color: rgba(128,128,128,0.28);
    --scrollbar-color: #d6d6d6;
    --scroll-bar-bg-color: #f1f1f1;
    --link-color: #4a4c55;
    --copyright-info-color: #a30029;
    --avatar-background-color: #005cb8;
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  }
}
.light-mode {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #93c;
  --first-text-color: #484853;
  --second-text-color: #4c4c57;
  --third-text-color: #808091;
  --fourth-text-color: #ededef;
  --default-text-color: #50505c;
  --border-color: #b3b3b3;
  --selection-color: #a347d1;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #595967;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #484853;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
.dark-mode {
  --background-color: #eee;
  --second-background-color: #d6d6d6;
  --primary-color: #93c;
  --first-text-color: #6f717e;
  --second-text-color: #5c5e6a;
  --third-text-color: #2d2e33;
  --fourth-text-color: #0b0b0d;
  --default-text-color: #383940;
  --border-color: #f1f1f1;
  --selection-color: #a347d1;
  --shadow-color: rgba(128,128,128,0.2);
  --shadow-hover-color: rgba(128,128,128,0.28);
  --scrollbar-color: #d6d6d6;
  --scroll-bar-bg-color: #f1f1f1;
  --link-color: #4a4c55;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
}
